.container {
	display: grid;
	grid-template-columns: 300px 1fr;
	width: 733px;
	height: 504px;

	border-radius: 10px;
	background-color: #fff;
	box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

/* Navigation */

.navigation {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;

	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, min-content);
	justify-content: center;

	list-style: none;
}

.item {
	width: 14px;
	height: 14px;
	border-radius: 7px;
	box-sizing: border-box;
	border: 2px solid #fff;
	cursor: pointer;
}

.active {
	background-color: #fff;
}

/* Form */

.form {
	position: relative;
	height: 100%;
}

/* Controls */

.controls {
	position: absolute;
	right: 20px;
	bottom: 30px;
	display: flex;
}

.controls > * + * {
	margin-left: 10px;
}
